/* プロフィール */

#table-user {
  table-layout: fixed;
  width: 100%;
  
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
  }
}

/* 利用者一覧 */

#table-users {
  table-layout: fixed;
  width: 100%;
  
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
}